:root {
  --normal-size: 16px;
}
* {
  box-sizing: content-box;
  font-family: "Courier New", Courier, monospace;
  color: #fff;
}
*::selection {
  background-color: #353535;
}
body {
  background-color: #252525;
  font-size: var(--normal-size);
  text-align: center;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.c-hour {
  font-size: 10em;
}
.c-minute {
  font-size: 10em;
}
.c-minute::before,
.c-second::before {
  font-size: 1em;
  content: ":";
  animation-duration: 1.3s;
  animation-timing-function: ease-in-out;
  animation-name: blink;
  animation-iteration-count: infinite;
}
.c-second {
  font-size: 6em;
}
.c-date {
  font-size: 2em;
}
@keyframes blink {
  0%,
  50% {
    color: #252525;
  }
  100% {
    color: #fff;
  }
}

.w-city {
  position: inherit;
  padding: 8px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: end;
  font-size: 2em;
  cursor: pointer;
  width: 150px;
}
.w-city::after {
  content: "more info";
  top: 15vh;
  font-size: 12px;
}
.w-city:hover::after {
  color: #aaa;
}
.w-city:active::after {
  color: #eee;
}
.w-img {
  width: 2em;
  height: 2em;
}
.w-name{
  border-bottom: 1px solid #252525;
  height: calc(100% / 6);
}
.w-modal {
  background-color: #a0a0a088;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 300px;
  height: 250px;
  font-size: 1.5em;
  top: -120%;
  left: 0;
  transition-duration: 0.25s;
}
.w-modal.w-open {
  top: 0 !important;
}
